:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --lavender-dark-color: #6e72cb;
  --lavender-color: #a0a0ff; /* main color */
  --lavender-light-color: #d4d1ff;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
  --blue-color: #045fd4;
  --red-color: #ff0000;

  /* Size */
  --padding: 12px;

  /* Font Size */
  --font-xlarge: 24px;
  --font-large: 20px;
  --font-mediun: 16px;
  --font-small: 12px;
  --font-micro: 10px;
}

/* * {
  padding: o;
  margin: 0;
  box-sizing: border-box;
} */

/* 화면 사이즈 설정*/
/* @media screen and (min-width: 800px) {
  .container {
    width: 50%;
    margin: 0 80px 0 80px;
  }
} */

/* theme color : #ccccff -> #a0a0ff */
@import url(fontawesome-all.min.css);
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 1. 전체 공통 사항 */
/* body */
body {
  font-family: 'IBMPlexSansKR-Regular';
  font-size: 18px;
  margin: 100px 130px 0px 130px;
  padding: 30px, 30px, 0, 30px;
  background-color: #5e4d93ba; /* #935d8c; */
  background-image: -moz-linear-gradient(45deg, #e3768348 5%, #5e4d93d8 95%);
  background-image: -webkit-linear-gradient(45deg, #e3768348 5%, #5e4d93d8 95%);
  background-image: -ms-linear-gradient(45deg, #e3768348 5%, #5e4d93d8 95%);
  background-image: linear-gradient(45deg, #e3768348 5%, #5e4d93d8 95%);
  min-height: min-content;  /* 확인필요! */
}

/* header & logo */
header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: var(--white-color);
  color: var(--lavender-color);
  border-bottom: solid 3px #a0a0ff;
  margin-bottom: 50px;
}

#header a {
  color: var(--lavender-color);
  background-color: var(--white-color);
  font-family: 'IBMPlexSansKR-Regular';
  font-size: var(--font-mediun);
  text-decoration: none;
}

#header a:hover {
  color: var(--lavender-dark-color);
  background-color: var(--white-color);
  font-family: 'IBMPlexSansKR-Regular';
  font-size: var(--font-mediun);
}

/* 사이드바 햄버거 */
#ham {
  color: var(--lavender-color);
  background-color: var(--white-color);
  border-color: var(--white-color);
  font-family: 'IBMPlexSansKR-Regular';
  font-size: 36px;
  text-decoration: none;
}

/* ㅇㅇㅇ님 환영합니다. */
#welcome {
  color: var(--grey-light-color);
  font-family: 'IBMPlexSansKR-Regular';
  font-size: var(--font-mediun);
  top: 0px;
  display: flexbox;
  justify-content: flex-end;
  position: relative;
}

/* top 비행기로고 */
#airLogo {
  -moz-transition: opacity 1.25s ease, -moz-transform 0.5s ease;
  -webkit-transition: opacity 1.25s ease, -webkit-transform 0.5s ease;
  -ms-transition: opacity 1.25s ease, -ms-transform 0.5s ease;
  transition: opacity 1.25s ease, transform 0.5s ease;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  display: block;
  mask-size: 96px;
  margin: 0 0 1.5em 0;
  text-align: center;
}

/* projectName = 기분어때 */
#projectName {
  color: var(--white-color);
  font-family: 'ONE-Mobile-POP';
  font-size: 50px;
  margin: 10px;
  text-align: center;
}


/* 1-1 정렬 */
/* 전체 테이블 대상 글자 왼쪽 정렬 */
th,
td {
  text-align: center;
}

/* 1-2 링크 이벤트 처리 */
.disabled-link {
  pointer-events: none;
}

/* 2. 문자 서식 */
/* 2-1 main.jsp 제목 (오늘,기분어때?) */
h1 {
  font-family: 'ONE-Mobile-POP';
  font-size: 50px;
  margin: 10px;
  padding: 10px;
}

/* 2-2 main.jsp 밑줄이 있는 중간제목: 메인(서비스목표) & 각 페이지의 제목도 여기에서 같이 변경됨( 여백잘안맞음) */
h2 {
  font-family: 'ONE-Mobile-POP';
  border-bottom: 3px dashed var(--lavender-light-color);
  display: inline-block;
  padding: 10px;
  margin: 10px 40px;
}

/* 2-3 main.jsp 소제목: 각 메뉴의이름*/
h3 {
  font-family: 'ONE-Mobile-POP';
  margin: 10px 0 10px 100px;
}

/* 2-4 main.jsp 소제목의 설명글: 가독성있게 스타일 정해야함!!!!! 작업필요!!! */

/* 2-5 도트형태 긴 가로선 */
hr {
  border: 0px;
  border-top: 5px dotted var(--grey-dark-color);
  width: 100%;
}

/* 2-6 클래스 밑줄 제거, 테마색 폰트로 변경*/
.offcanvas-body .btn,
.offcanvas-header .btn {
  color: var(--lavender-color);
  font-family: 'IBMPlexSansKR-Regular';
  font-size: 18px;
  padding: var(--padding);
  text-decoration: none;
}

/* 2-7 sidenav */
/* Style the side navigation */
.sidenav {
	border-radius: 20px;
	height: 80%;
	width: 80px;
	position: fixed;
  z-index: 1;
	top: 0;
  left: 0;
	background-color: var(--white-color);
	overflow-x: hidden;
	margin: 0 auto;
}

/* Side navigation links */
.sidenav a {
  color: var(--lavender-color);
  padding: 5px;
  text-decoration: none;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ccccff;
  color: black;
}

/* 2-7 마우스 오버: sideBar,  boardTitle */
a {
  color: var(--lavender-color);
  font-family: 'IBMPlexSansKR-Regular';
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  color: var(--lavender-dark-color);
  font-family: 'IBMPlexSansKR-Regular';
  font-size: 18px;
}

ol{
	padding: 0;
}

li {
  list-style: none;
  padding: 5px;
  border-bottom: 1px dotted #ccccff;
}

/* 2-8 출처 표시 등 회색 & 작은 글씨 표시용 */
#source {
	font-family: 'IBMPlexSansKR-Regular';
	font-size: 12px;
	color: #808080;
}

/* 3. 아이콘, 박스, 카드 등 도형형태 서식 */
/* 3-1 아이콘 색 */
#mainIcon {
  color: #a0a0ff;
  font-size: 100px;
/*   margin: 10px 0 10px 100px; */
}

/* 3-2 카드형태 */
.card.h-100 {
  width: 90%;
  height: 90%;
  padding: 2px;
  margin-bottom: 10px;
}

.card-title {
min-height: 70px;
font-weight: bold;
}

.card-text {
min-height: 70px;
}

/* 3-3  박스 양식 */
.box {
  max-width: 700px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 20px 20px 20px -20px #94f6ff44;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

/* 3-4 main.jsp의 상단img */
#mainImg {
  border-radius: 20px;
  margin: auto;
  width: 90%;
  height: 400px;
}

/* 3-5 자가진단 테스트 결과창 */
#surRes {
	width: 80%;
	min-height: 200px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border-radius: 10px;
	background-color: #e5e5e5;
	display : flex;
	align-items: center;
	text-align: left;
	font-style: bold;
	font-size: 20px;
}

/* 4.공통사항*/
/* 4-1 input type title, content width*/
/* #write-box {
  position: relative;
  width: 100%;
  float: center;
  text-align: center;
}
#content {
  position: relative;
  width: 100%; 
  float: center;
  text-align: center;
} */

.d-flex, .form-control {
  position: relative;
  width: 100%; 
}

/* 4-2 search & 검색 오른쪽정렬*/
#search-a,
#search-b {
  display:flexbox;
  float: right;
}

#diary-icon {
  float: right;
  margin-right: 50px;
}
/* 4-3 Board/list 제목 왼쪽정렬 */
.listTitle{
  color: black;
  font-family: 'IBMPlexSansKR-Regular';
  font-size: 18px;
  text-align: left !important;
  text-decoration: none;
}
.listTitle:hover {
  color: rgba(0, 0, 0, 0.443);
  font-family: 'IBMPlexSansKR-Regular';
  font-size: 18px;
  text-align: left !important;
  text-decoration: none;
}

/* 4-3 전체 jsp */
#inFrame {
  /* max-height: max-content !important; */
  min-height: 1100px;
  background-color: var(--white-color) !important;
  border-radius: 18px;
  margin-bottom: 100px;
}

/* 5. 버튼 */
/* 5-1 제출, 저장 버튼 */
.btn-primary {
  --bs-btn-bg: var(--lavender-light-color);
  --bs-btn-border-color: var(--lavender-light-color);
  --bs-btn-hover-color: var(--white-color);
  --bs-btn-hover-bg: var(--lavender-dark-color);
  --bs-btn-hover-border-color: var(--lavender-dark-color);
  --bs-btn-focus-shadow-rgb: inset 0 3px 5px rgba(111, 71, 205, 0.4);
  --bs-btn-active-color: var(--white-color);
  --bs-btn-active-bg: var(--lavender-dark-color);
  --bs-btn-active-border-color: var(--lavender-dark-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(111, 71, 205, 0.4);
  --bs-btn-disabled-color: var(--white-color);
  --bs-btn-disabled-bg: var(--lavender-light-color);
  --bs-btn-disabled-border-color: var(--lavender-light-color);
}

/* 5-2 취소 버튼 */
.btn-secondary {
  --bs-btn-bg: var(--lavender-light-color);
  --bs-btn-border-color: var(--lavender-light-color);
  --bs-btn-hover-color: var(--white-color);
  --bs-btn-hover-bg: var(--lavender-dark-color);
  --bs-btn-hover-border-color: var(--lavender-dark-color);
  --bs-btn-focus-shadow-rgb: inset 0 3px 5px rgba(111, 71, 205, 0.4);
  --bs-btn-active-color: var(--white-color);
  --bs-btn-active-bg: var(--lavender-dark-color);
  --bs-btn-active-border-color: var(--lavender-dark-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(111, 71, 205, 0.4);
  --bs-btn-disabled-color: var(--white-color);
  --bs-btn-disabled-bg: var(--lavender-light-color);
  --bs-btn-disabled-border-color: var(--lavender-light-color);
}

/* 5-3 search 검색 버튼 */
.btn-outline-primary {
  --bs-btn-bg: var(--lavender-light-color);
  --bs-btn-border-color: var(--lavender-light-color);
  --bs-btn-hover-color: var(--white-color);
  --bs-btn-hover-bg: var(--lavender-dark-color);
  --bs-btn-hover-border-color: var(--lavender-dark-color);
  --bs-btn-focus-shadow-rgb: inset 0 3px 5px rgba(111, 71, 205, 0.4);
  --bs-btn-active-color: var(--white-color);
  --bs-btn-active-bg: var(--lavender-dark-color);
  --bs-btn-active-border-color: var(--lavender-dark-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(111, 71, 205, 0.4);
  --bs-btn-disabled-color: var(--white-color);
  --bs-btn-disabled-bg: var(--lavender-light-color);
  --bs-btn-disabled-border-color: var(--lavender-light-color);
}

/* 5-4 페이지 버튼 */
.pagination {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: var(--lavender-light-color);
  --bs-pagination-bg: var(--white-color);
  --bs-pagination-border-width: 1px;
  --bs-pagination-border-color: #dee2e6;
  --bs-pagination-border-radius: 0.375rem;
  --bs-pagination-hover-color: var(--lavender-dark-color);
  --bs-pagination-hover-bg: #e9ecef;
  --bs-pagination-hover-border-color: #dee2e6;
  --bs-pagination-focus-color: var(--lavender-dark-color);
  --bs-pagination-focus-bg: #e9ecef;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-pagination-active-color: var(--white-color);
  --bs-pagination-active-bg: var(--lavender-color);
  --bs-pagination-active-border-color: var(--lavender-color);
  --bs-pagination-disabled-color: #6c757d;
  --bs-pagination-disabled-bg: var(--white-color);
  --bs-pagination-disabled-border-color: #dee2e6;
  display: flex;
  padding-left: 0;
  list-style: none;
}

/* 5-5 버튼 속 글자색 */
.btn {
  color: var(--white-color);
  font-family: 'IBMPlexSansKR-Regular';
  font-size: 1rem;
  text-decoration: none;
}

/* 6. 챗봇 */
/* 6-1 기부니 챗봇 버튼 */
#btnImage {
  display: inline-block;
  cursor: pointer;
  width: 80px;
  height: 80px;
  margin: 6px;
  position: fixed;
  bottom: 70px;
  right: 10px;
  background-color: #a0a0ff;
  border-radius: 50%;
  box-shadow: 20px 20px 20px -20px #a0a0ff;
}

/* 7. 각페이지의 소제목 */
/* lonin.jsp - 회원가입 */
#comeIn {
  text-align: center !important;
}


/* 8. bottom */
#footer {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 5em 5em 1em 5em;
  width: calc(100% + 2em);
  margin: 0 0 1em -2em;
}

#footer>* {
  width: calc(50% - 2em);
  margin-left: 2em;
}

#footer .copyright {
  width: 100%;
  margin: 2.5em 0 0.5em 0;
  font-size: 0.8em;
  text-align: center;
}

/* bottom-icons */
#bottom-icons {
  color: black !important;
  cursor: default;
  list-style: none;
  display: inline-block;
  justify-content: space-between;
  padding-left: 0;
}
#bottom-icons:hover {
  color: black !important;
  cursor: default;
  list-style: none;
  display: inline-block;
  justify-content: space-between;
  padding-left: 0;
} 

.black {
  color: black;
  font-family: 'IBMPlexSansKR-Regular';
  font-size: 24px;
  text-decoration: none;
}

.black:hover {
  color: rgba(0, 0, 0, 0.443);
  font-family: 'IBMPlexSansKR-Regular';
  font-size: 24px;
  text-decoration: none;
}
